{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block navbar_title %}
    <i class="flag flag-{{ object.locale }}"></i>&nbsp;
    {{ parent() }}
{% endblock %}

{% block sonata_page_content_nav %}
    {% if _tab_menu is not empty or _actions is not empty %}
        <nav class="navbar navbar-default" role="navigation">
            {{ block('tab_menu_navbar_header') }}
            <div class="container-fluid">
                <div class="navbar-left">
                    {% if _tab_menu is not empty %}
                        {{ _tab_menu|raw }}
                    {% endif %}
                </div>
                {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown sonata-actions">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                {{ _actions|raw }}
                            </ul>
                        </li>
                        {% if admin.id(object) is not null and vince.cms.locales|length > 1 %}
                            <li class="dropdown sonata-translatable-actions">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Translate'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for locale in vince.cms.locales if locale != object.locale %}
                                        <li>
                                            <a class="sonata-action-element" href="{{ admin.generateObjectUrl('edit', object, {'locale': locale}) }}">
                                                <i class="fa fa-language"></i>
                                                {{ 'action.translate'|trans({'%locale%': ('locale.' ~ locale)|trans({}, 'VinceCms')}, 'SonataAdminBundle') }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </nav>
    {% endif %}
{% endblock sonata_page_content_nav %}

{% use 'VinceCmsSonataAdminBundle:CRUD:translatable_edit_form.html.twig' with form as parentForm %}
